body{
    text-align: center !important;
    background-color: rgb(61, 61, 61) !important;
    background-size: cover;
}

a{
    text-decoration: none !important;
}

.form-group{
    text-align: left;
}

.container{
    padding: 20px;
    margin-top: 8%;
    width: 350px !important;
    border-radius: 5px;
    background-color: white;
}
